@mixin ColorHover( $transition-time, $art , $color , $cursor){
    &{
        cursor: default;
        transition: $transition-time;
    }
    &:hover{
        @if $art == 'col' {
            cursor: $cursor;
            color:  $color;
        }
        @if $art == 'bgcol'{
            cursor: pointer;
            background-color: $color;
        }
    }
}